.plans{
    padding: 5.6vw;

    h2{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            &:nth-child(2){//pseudo seletor parq selecionar o segundo item. Poderia ser o item 3 ou 1. depende o item que voce quer selecionar.
                //Tem o last-child tambem.
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat; //para nao repetir a imagen. ele estava cortando a imagem e repetindo embaixo.
                background-size: contain; // preserva toda a largura e altura que tem a imagem. 
            } 

            img{
                height: 83px;
            }

            strong{
                display: block;
                margin-top: 24px;
            }
        }
    }

    p{
        text-align: center;
    }
    
}

